.expense__list--container {
    padding: 0 200px 100px;
}

.expense__list--box {
    background-color: #2d2a2a;
    padding: 20px;
}

.expense__not-found {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
}